.row
- if @natural_science_disciplines.present?
  .col-md-4
    %h3
      Естественно-научные
      %span.text-danger
        =@natural_science_disciplines.size

    - @natural_science_disciplines.each do |discipline|
      .card.card-outline-danger
        .card-block
          %blockquote.card-blockquote
            %div
              = link_to "#{discipline.name}", discipline_path(discipline.id)
            - discipline.courses.each do |course|
              %div
                = course.human_htype
                \|
                = course.hours
                часов

- if @humanities_science_disciplines.present?
  .col-md-4
    %h3
      Гуманитарные
      %span.text-success
        =@humanities_science_disciplines.size

    - @humanities_science_disciplines.each do |discipline|
      .card.card-outline-success
        .card-block
          %blockquote.card-blockquote
            %div
              = link_to "#{discipline.name}", discipline_path(discipline.id)
            - discipline.courses.each do |course|
              %div
                = course.human_htype
                \|
                = course.hours
                часов

- if @special_disciplines.present?
  .col-md-4
    %h3
      Специальные
      %span.text-info
        =@special_disciplines.size

    - @special_disciplines.each do |discipline|
      .card.card-outline-info
        .card-block
          %blockquote.card-blockquote
            %div
              = link_to "#{discipline.name}", discipline_path(discipline.id)
            - discipline.courses.each do |course|
              %div
                = course.human_htype
                \|
                = course.hours
                часов

= link_to 'New Discipline', new_discipline_path
