%p#notice= notice

%p
  %b Dis name:
  = @discipline.dis_name
%p
  %b Dis module:
  = @discipline.dis_module

= link_to 'Edit', edit_discipline_path(@discipline)
\|
= link_to 'Back', disciplines_path
