%p#notice= notice

%p
  %b Name:
  = @discipline.name
%p
  %b Label:
  = @discipline.label

- if current_user
  = link_to 'Edit', edit_discipline_path(@discipline)
  \|
  = link_to 'Back', disciplines_path
