%h1 Listing link_specialty_disciplines

%table
  %thead
    %tr
      %th Term
      %th Htype
      %th Human htype
      %th Specialty
      %th Discipline
      %th
      %th
      %th

  %tbody
    - @link_specialty_disciplines.each do |link_specialty_discipline|
      %tr
        %td= link_specialty_discipline.term
        %td= link_specialty_discipline.htype
        %td= link_specialty_discipline.human_htype
        %td= link_specialty_discipline.specialty.direction
        %td= link_specialty_discipline.discipline.name
        %td= link_to 'Show', link_specialty_discipline
        %td= link_to 'Edit', edit_link_specialty_discipline_path(link_specialty_discipline)
        %td= link_to 'Destroy', link_specialty_discipline, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Link specialty discipline', new_link_specialty_discipline_path
