%p#notice= notice

%p
  %b Specialty:
  = @link_specialty_discipline.specialty
%p
  %b Discipline:
  = @link_specialty_discipline.discipline
%p
  %b Term:
  = @link_specialty_discipline.term
%p
  %b Report:
  = @link_specialty_discipline.report

= link_to 'Edit', edit_link_specialty_discipline_path(@link_specialty_discipline)
\|
= link_to 'Back', link_specialty_disciplines_path
