%p#notice= notice

%p
  %b Term:
  = @link_specialty_discipline.term
%p
  %b Htype:
  = @link_specialty_discipline.htype
%p
  %b Human htype:
  = @link_specialty_discipline.human_htype
%p
  %b Specialty:
  = @link_specialty_discipline.specialty
%p
  %b Discipline:
  = @link_specialty_discipline.discipline

= link_to 'Edit', edit_link_specialty_discipline_path(@link_specialty_discipline)
\|
= link_to 'Back', link_specialty_disciplines_path
