%p#notice= notice

%p
  %b Specialty:
  = @assignment_specialty_discipline.specialty
%p
  %b Discipline:
  = @assignment_specialty_discipline.discipline
%p
  %b Term:
  = @assignment_specialty_discipline.term
%p
  %b Report:
  = @assignment_specialty_discipline.report

= link_to 'Edit', edit_assignment_specialty_discipline_path(@assignment_specialty_discipline)
\|
= link_to 'Back', assignment_specialty_disciplines_path
