%header
	.header-top
		%nav.navbar.navbar-light.bg-faded
			%ul.nav.navbar-nav.ml-2
				%li.nav-item
					= link_to "Деревья навыков студентов НИЯУ МИФИ", root_path, class_name: "nav-link"

			%ul.nav.navbar-nav.pull-right.mr-3
				- if user_signed_in?
					%li.nav-item
						= link_to current_user.full_name, edit_user_registration_path
					%li.nav-item
						= link_to "Выйти", destroy_user_session_path, method: :delete
				- else
					%li.nav-item
						= link_to "Зарегистрироваться", new_user_registration_path
					%li.nav-item
						= link_to "Войти", new_user_session_path