= form_for @specialty do |f|
  - if @specialty.errors.any?
    #error_explanation
      %h2= "#{pluralize(@specialty.errors.count, "error")} prohibited this specialty from being saved:"
      %ul
        - @specialty.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :dtype
    = f.number_field :dtype
  .field
    = f.label :human_dtype
    = f.text_field :human_dtype
  .field
    = f.label :direction
    = f.text_field :direction
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :human_level
    = f.text_field :human_level
  .field
    = f.label :study_form
    = f.number_field :study_form
  .field
    = f.label :human_study_form
    = f.text_field :human_study_form
  .actions
    = f.submit 'Save'
