.content
  .section
    = form_tag(specialties_path, method: :get) do
      .row.table-title 
        -#.column Тип дисциплины
        .column Наименование подготовки
        .column Уровень обучения
        .column Форма обучения
      - @specialties.each do |specialty|
        .row.hover-highlight{onclick: "doSmth(event)"}
          -#  .column= specialty.human_dtype
          .column= specialty.full_direction
          .column= specialty.human_level
          .column= specialty.human_study_form
          .column
            = link_to 'Показать дерево', specialty
          .column
            = link_to 'Show', specialty
            = link_to 'Edit', edit_specialty_path(specialty)
            = link_to 'Destroy', specialty, :method => :delete, :data => { :confirm => 'Are you sure?' }
          .hidden-column 
            = render 'disciplines/index'
  = link_to 'New Specialty', new_specialty_path
