%h1 Listing specialties

%table
  %thead
    %tr
      %th Spec
      %th Spec name
      %th Spec type
      %th Spec mode
      %th
      %th
      %th

  %tbody
    - @specialties.each do |specialty|
      %tr
        %td= specialty.spec_id
        %td= specialty.spec_name
        %td= specialty.spec_type
        %td= specialty.spec_mode
        %td= link_to 'Show', specialty
        %td= link_to 'Edit', edit_specialty_path(specialty)
        %td= link_to 'Destroy', specialty, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Specialty', new_specialty_path
