%h1 Listing specialties

%table
  %thead
    %tr
      %th Dtype
      %th Human dtype
      %th Direction
      %th Level
      %th Human level
      %th Study form
      %th Human study form
      %th
      %th
      %th

  %tbody
    - @specialties.each do |specialty|
      %tr
        %td= specialty.dtype
        %td= specialty.human_dtype
        %td= specialty.direction
        %td= specialty.level
        %td= specialty.human_level
        %td= specialty.study_form
        %td= specialty.human_study_form
        %td= link_to 'Show', specialty
        %td= link_to 'Edit', edit_specialty_path(specialty)
        %td= link_to 'Destroy', specialty, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Specialty', new_specialty_path
