%p#notice= notice

%p
  %b Spec:
  = @specialty.spec_id
%p
  %b Name:
  = @specialty.name
%p
  %b Type:
  = @specialty.type
%p
  %b Mode:
  = @specialty.mode

= link_to 'Edit', edit_specialty_path(@specialty)
\|
= link_to 'Back', specialties_path
