%p#notice= notice

%p
  %b Spec:
  = @specialty.spec_id
%p
  %b Spec name:
  = @specialty.spec_name
%p
  %b Spec type:
  = @specialty.spec_type
%p
  %b Spec mode:
  = @specialty.spec_mode

= link_to 'Edit', edit_specialty_path(@specialty)
\|
= link_to 'Back', specialties_path
